/* navi.css */
*{margin: 0; padding: 0;}
.wrap{
  width: 960px;
  margin: 0 auto;
}
nav{
  height: 80px;
  text-align: center;
}
nav ul{
  list-style: none;
  border-bottom: 2px solid #ccc;
}
nav ul li{
  /* inline-block: 가로로 정렬하기 */
  display: inline-block;
  /* 세로로 가운데 정렬 하기 */
  line-height: 80px;
  /* left right만 20px 떨어뜨림 */
  margin: 0 20px;
}
ul li a:link, a:visited{
  text-decoration: none;
  color: #222;
  padding: 10px;
}
ul li a:hover, a:focus{
  background: #222;
  color: rgb(235,234,234);
}
ul li a:active{
  background-color: red;
}